[Unit]
Description=OpsBay Worker Node
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/opsbay-cron-broker
EnvironmentFile=/opt/opsbay-cron-broker/workers/worker.env
ExecStart=/opt/opsbay-cron-broker/workers/worker.sh
Restart=on-failure
RestartSec=5
User=opsbay
Group=opsbay

[Install]
WantedBy=multi-user.target