name: Docker Image CI

on:
  # push:
  #  branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

  # manual trigger event
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        docker build . --file Dockerfile --tag opsbay-cron-broker:$IMAGE_TAG